form{
	position: absolute;
	top:30px;
	left: 700px;
	right: 0;
	bottom:0;	

}
 

form h1{
	margin-left: 90px;
}

form input{
	height: 40px;
	width:300px;
	text-indent: 1rem;
	font-family: 'Poppins-Regular';
	border-radius: 10px 10px;
}

form input[type=submit] {
	border:none;
	outline: none;
	background-color: #4682b4;
	color:white;
	font-weight: bold;
	transition: background .5s;	
}

form input[type=submit]:hover {
	background-color: #57a0d3;
}



